.u-section-1 .u-sheet-1 {
  min-height: 232px;
}

.u-section-1 .u-image-1 {
  height: 128px;
  object-position: 50% 66.65%;
  margin: 44px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -100px 53px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 221px;
  }

  .u-section-1 .u-image-1 {
    height: 145px;
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -105px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 184px;
  }

  .u-section-1 .u-image-1 {
    height: 118px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -97px;
    margin-left: 44px;
    margin-right: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-1 .u-image-1 {
    height: 132px;
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin: -112px 37px 51px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-1 .u-image-1 {
    height: 190px;
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin: -172px 32px 54px;
  }
}.u-section-2 .u-video-1 {
  min-height: 656px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-video-1 {
    min-height: 499px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-video-1 {
    min-height: 404px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-video-1 {
    min-height: 322px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-video-1 {
    min-height: 206px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 182px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
  font-style: italic;
  width: 594px;
  margin: 60px auto 0;
}

.u-section-3 .u-line-1 {
  transform-origin: left center;
  width: 276px;
  margin: 23px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 153px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 118px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    margin-bottom: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 59px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-3 .u-line-1 {
    width: 192px;
    margin-bottom: 43px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 685px;
}

.u-section-4 .u-image-1 {
  height: 614px;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-4 .u-image-1 {
    height: 538px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-4 .u-image-1 {
    height: 395px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-4 .u-image-1 {
    height: 322px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-4 .u-image-1 {
    height: 198px;
  }
} .u-section-5 {
  min-height: 66px;
}

.u-section-5 .u-sheet-1 {
  min-height: 1195px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 47px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 1120px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-accordion-1 {
  width: 515px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-1 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 2px;
  text-decoration: underline !important;
  padding: 10px 20px;
}

.u-section-5 .u-icon-1 {
  height: 13px;
  width: 13px;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 82px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-5 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-2 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 2px;
  text-decoration: underline !important;
  padding: 10px 20px;
}

.u-section-5 .u-icon-2 {
  height: 13px;
  width: 13px;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 82px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-5 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-3 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 2px;
  text-decoration: underline !important;
  padding: 10px 20px;
}

.u-section-5 .u-icon-3 {
  height: 13px;
  width: 13px;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 82px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-5 .u-layout-cell-2 {
  background-position: 50% 50%;
  min-height: 1120px;
}

.u-section-5 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-5 .u-image-1 {
  height: 1090px;
  width: 432px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 877px;
  }

  .u-section-5 .u-accordion-1 {
    width: 415px;
  }

  .u-section-5 .u-accordion-pane-1 {
    min-height: 96px;
    height: auto;
  }

  .u-section-5 .u-accordion-pane-2 {
    min-height: 96px;
    height: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-accordion-pane-3 {
    min-height: 96px;
    height: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 930px;
  }

  .u-section-5 .u-image-1 {
    height: 908px;
    width: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 698px;
  }

  .u-section-5 .u-accordion-1 {
    width: 350px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 698px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    height: 706px;
    width: 280px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 226px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 37px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 134px;
  }

  .u-section-5 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 817px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 45px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1136px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 297px;
    order: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-accordion-1 {
    margin-top: 57px;
    margin-bottom: 76px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-accordion-pane-1 {
    min-height: 88px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-accordion-pane-2 {
    min-height: 88px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-accordion-pane-3 {
    min-height: 88px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    order: 1;
    min-height: 751px;
  }
}

.u-section-5 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-5 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-5 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-accordion-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-6 .u-sheet-1 {
  min-height: 148px;
}

.u-section-6 .u-text-1 {
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 157px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 216px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }
}.u-section-7 .u-video-1 {
  min-height: 656px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-7 .u-video-1 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-video-1 {
    min-height: 402px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-video-1 {
    min-height: 309px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-video-1 {
    min-height: 188px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 756px;
}

.u-section-8 .u-image-1 {
  height: 650px;
  margin-top: 56px;
  margin-bottom: 50px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-8 .u-image-1 {
    height: 481px;
    margin-top: 147px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-8 .u-image-1 {
    height: 392px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-8 .u-image-1 {
    height: 322px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-8 .u-image-1 {
    height: 198px;
    margin-top: 105px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 668px;
}

.u-section-9 .u-image-1 {
  height: 614px;
  margin-top: 0;
  margin-bottom: 54px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-9 .u-image-1 {
    height: 538px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-9 .u-image-1 {
    height: 402px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-9 .u-image-1 {
    height: 322px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-9 .u-image-1 {
    height: 198px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 654px;
}

.u-section-10 .u-image-1 {
  height: 650px;
  margin-top: 0;
  margin-bottom: 4px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-10 .u-image-1 {
    height: 508px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-10 .u-image-1 {
    height: 395px;
    margin-top: 2px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-10 .u-image-1 {
    height: 305px;
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-10 .u-image-1 {
    height: 187px;
    margin-bottom: 40px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 232px;
}

.u-section-11 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
  font-style: italic;
  width: 594px;
  margin: 124px auto 0;
}

.u-section-11 .u-line-1 {
  transform-origin: left center;
  width: 276px;
  margin: 23px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    font-size: 1.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 153px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 67px;
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-11 .u-line-1 {
    margin-top: 19px;
    margin-bottom: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-11 .u-line-1 {
    width: 192px;
    margin-top: 23px;
    margin-bottom: 43px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 613px;
}

.u-section-12 .u-image-1 {
  height: 613px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-12 .u-image-1 {
    height: 538px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-12 .u-image-1 {
    height: 402px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-12 .u-image-1 {
    height: 322px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-12 .u-image-1 {
    height: 198px;
  }
} .u-section-13 {
  min-height: 318px;
}

.u-section-13 .u-sheet-1 {
  min-height: 1051px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 1051px;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-13 .u-accordion-1 {
  width: 515px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-13 .u-accordion-link-1 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 2px;
  text-decoration: underline !important;
  padding: 10px 20px;
}

.u-section-13 .u-icon-1 {
  height: 13px;
  width: 13px;
}

.u-section-13 .u-accordion-pane-1 {
  min-height: 82px;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px;
}

.u-section-13 .u-text-1 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-13 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-13 .u-accordion-link-2 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 2px;
  text-decoration: underline !important;
  padding: 10px 20px;
}

.u-section-13 .u-icon-2 {
  height: 13px;
  width: 13px;
}

.u-section-13 .u-accordion-pane-2 {
  min-height: 82px;
}

.u-section-13 .u-container-layout-3 {
  padding: 30px;
}

.u-section-13 .u-text-2 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-13 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-13 .u-accordion-link-3 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 2px;
  text-decoration: underline !important;
  padding: 10px 20px;
}

.u-section-13 .u-icon-3 {
  height: 13px;
  width: 13px;
}

.u-section-13 .u-accordion-pane-3 {
  min-height: 82px;
}

.u-section-13 .u-container-layout-4 {
  padding: 30px;
}

.u-section-13 .u-text-3 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 1051px;
}

.u-section-13 .u-container-layout-5 {
  padding: 15px 0;
}

.u-section-13 .u-gallery-1 {
  height: 886px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-13 .u-gallery-inner-1 {
  grid-template-columns: repeat(1, auto);
  grid-gap: 0px;
}

.u-section-13 .u-gallery-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-13 .u-over-slide-1 {
  padding: 30px;
}

.u-section-13 .u-gallery-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-13 .u-over-slide-2 {
  padding: 30px;
}

.u-section-13 .u-gallery-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-13 .u-back-image-3 {
  object-position: 50% 49.84%;
}

.u-section-13 .u-over-slide-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 881px;
  }

  .u-section-13 .u-accordion-1 {
    width: 415px;
  }

  .u-section-13 .u-accordion-pane-1 {
    min-height: 96px;
    height: auto;
  }

  .u-section-13 .u-accordion-pane-2 {
    min-height: 96px;
    height: auto;
  }

  .u-section-13 .u-text-2 {
    width: auto;
  }

  .u-section-13 .u-accordion-pane-3 {
    min-height: 96px;
    height: auto;
  }

  .u-section-13 .u-text-3 {
    width: auto;
  }

  .u-section-13 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 881px;
  }

  .u-section-13 .u-gallery-1 {
    height: 693px;
  }
}

@media (max-width: 991px) {
   .u-section-13 {
    min-height: 66px;
  }

  .u-section-13 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-13 .u-accordion-1 {
    width: 350px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 662px;
  }

  .u-section-13 .u-gallery-1 {
    height: 521px;
    width: 282px;
    margin-top: 56px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
   .u-section-13 {
    min-height: 101px;
  }

  .u-section-13 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 245px;
  }

  .u-section-13 .u-accordion-1 {
    width: 540px;
    margin-top: 52px;
    margin-right: 0;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 728px;
  }

  .u-section-13 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-13 .u-gallery-1 {
    height: 688px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 275px;
    order: 0;
  }

  .u-section-13 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-13 .u-accordion-1 {
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-accordion-pane-1 {
    min-height: 88px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-13 .u-text-1 {
    width: auto;
  }

  .u-section-13 .u-accordion-pane-2 {
    min-height: 88px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-13 .u-accordion-pane-3 {
    min-height: 88px;
  }

  .u-section-13 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-13 .u-layout-cell-2 {
    order: 1;
    min-height: 445px;
  }

  .u-section-13 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-13 .u-gallery-1 {
    height: 445px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-13 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-13 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-13 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-13 .u-container-layout:hover .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-13 .u-accordion-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-14 .u-sheet-1 {
  min-height: 762px;
}

.u-section-14 .u-gallery-1 {
  height: 616px;
  margin: 0 0 60px;
}

.u-section-14 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-14 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 34px;
}

.u-section-14 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-14 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-14 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-14 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-14 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-14 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-back-image-6 {
  object-position: 50% 9.4%;
}

.u-section-14 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-14 .u-carousel-item-7 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-14 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-14 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-14 .u-gallery-1 {
    height: 464px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-gallery-inner-1 {
    grid-gap: 10px;
  }

  .u-section-14 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-14 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-14 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-14 .u-over-slide-5 {
    min-height: 100px;
  }

  .u-section-14 .u-over-slide-6 {
    min-height: 100px;
  }

  .u-section-14 .u-over-slide-7 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-14 .u-gallery-1 {
    height: 359px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-14 .u-gallery-1 {
    height: 295px;
    margin-top: 81px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-14 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-14 .u-gallery-1 {
    height: 245px;
    margin-top: 44px;
    margin-bottom: 44px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 614px;
}

.u-section-15 .u-image-1 {
  height: 614px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 40.58%;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-15 .u-image-1 {
    height: 469px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-15 .u-image-1 {
    height: 322px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-15 .u-image-1 {
    height: 198px;
    margin-top: 0;
    margin-bottom: 2px;
  }
} .u-section-16 {
  min-height: 318px;
}

.u-section-16 .u-sheet-1 {
  min-height: 1126px;
}

.u-section-16 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-16 .u-layout-cell-1 {
  min-height: 1126px;
}

.u-section-16 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-16 .u-accordion-1 {
  width: 515px;
  margin: 0 auto 0 0;
}

.u-section-16 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-16 .u-accordion-link-1 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 2px;
  text-decoration: underline !important;
  padding: 10px 20px;
}

.u-section-16 .u-icon-1 {
  height: 13px;
  width: 13px;
}

.u-section-16 .u-accordion-pane-1 {
  min-height: 82px;
}

.u-section-16 .u-container-layout-2 {
  padding: 30px;
}

.u-section-16 .u-text-1 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-16 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-16 .u-accordion-link-2 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 2px;
  text-decoration: underline !important;
  padding: 10px 20px;
}

.u-section-16 .u-icon-2 {
  height: 13px;
  width: 13px;
}

.u-section-16 .u-accordion-pane-2 {
  min-height: 82px;
}

.u-section-16 .u-container-layout-3 {
  padding: 30px;
}

.u-section-16 .u-text-2 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-16 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-16 .u-accordion-link-3 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 2px;
  text-decoration: underline !important;
  padding: 10px 20px;
}

.u-section-16 .u-icon-3 {
  height: 13px;
  width: 13px;
}

.u-section-16 .u-accordion-pane-3 {
  min-height: 82px;
}

.u-section-16 .u-container-layout-4 {
  padding: 30px;
}

.u-section-16 .u-text-3 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-16 .u-layout-cell-2 {
  min-height: 1126px;
}

.u-section-16 .u-container-layout-5 {
  padding: 15px 0;
}

.u-section-16 .u-gallery-1 {
  height: 886px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-16 .u-gallery-inner-1 {
  grid-template-columns: repeat(1, auto);
  grid-gap: 44px;
}

.u-section-16 .u-gallery-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-16 .u-over-slide-1 {
  padding: 30px;
}

.u-section-16 .u-gallery-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-16 .u-back-image-2 {
  object-position: 50% 49.84%;
}

.u-section-16 .u-over-slide-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-16 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-16 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 881px;
  }

  .u-section-16 .u-accordion-1 {
    width: 415px;
  }

  .u-section-16 .u-accordion-pane-1 {
    min-height: 96px;
    height: auto;
  }

  .u-section-16 .u-accordion-pane-2 {
    min-height: 96px;
    height: auto;
  }

  .u-section-16 .u-text-2 {
    width: auto;
  }

  .u-section-16 .u-accordion-pane-3 {
    min-height: 96px;
    height: auto;
  }

  .u-section-16 .u-text-3 {
    width: auto;
  }

  .u-section-16 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 881px;
  }

  .u-section-16 .u-gallery-1 {
    height: 650px;
    width: 423px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
   .u-section-16 {
    min-height: 66px;
  }

  .u-section-16 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-16 .u-accordion-1 {
    width: 350px;
  }

  .u-section-16 .u-layout-cell-2 {
    min-height: 568px;
  }

  .u-section-16 .u-gallery-1 {
    height: 473px;
    width: 302px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-16 .u-accordion-1 {
    width: 540px;
    margin-left: auto;
  }

  .u-section-16 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-16 .u-layout-cell-2 {
    min-height: 907px;
  }

  .u-section-16 .u-gallery-1 {
    height: 805px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 246px;
    order: 0;
  }

  .u-section-16 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-16 .u-accordion-1 {
    width: 330px;
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-16 .u-accordion-pane-1 {
    min-height: 88px;
  }

  .u-section-16 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-16 .u-text-1 {
    width: auto;
  }

  .u-section-16 .u-accordion-pane-2 {
    min-height: 88px;
  }

  .u-section-16 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-16 .u-accordion-pane-3 {
    min-height: 88px;
  }

  .u-section-16 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-16 .u-layout-cell-2 {
    order: 1;
    min-height: 577px;
  }

  .u-section-16 .u-gallery-1 {
    height: 472px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-16 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-16 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-16 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-16 .u-container-layout:hover .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-16 .u-accordion-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-17 .u-sheet-1 {
  min-height: 166px;
}

.u-section-17 .u-text-1 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 700;
  font-style: italic;
  width: 488px;
  margin: 77px auto 0;
}

.u-section-17 .u-line-1 {
  transform-origin: left center;
  width: 234px;
  margin: 32px auto;
}

@media (max-width: 1199px) {
  .u-section-17 .u-sheet-1 {
    min-height: 188px;
  }

  .u-section-17 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 83px;
  }

  .u-section-17 .u-line-1 {
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-sheet-1 {
    min-height: 148px;
  }

  .u-section-17 .u-text-1 {
    font-size: 1rem;
    margin-top: 55px;
  }

  .u-section-17 .u-line-1 {
    margin-top: 22px;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-sheet-1 {
    min-height: 133px;
  }

  .u-section-17 .u-text-1 {
    width: auto;
    margin-top: 36px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-17 .u-line-1 {
    margin-bottom: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-17 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-17 .u-line-1 {
    width: 173px;
  }
}.u-section-18 .u-sheet-1 {
  min-height: 745px;
}

.u-section-18 .u-image-1 {
  height: 685px;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-18 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-18 .u-image-1 {
    height: 538px;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-18 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-18 .u-image-1 {
    height: 400px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-18 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-18 .u-image-1 {
    height: 322px;
  }
}

@media (max-width: 575px) {
  .u-section-18 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-18 .u-image-1 {
    height: 198px;
  }
} .u-section-19 {
  min-height: 318px;
}

.u-section-19 .u-sheet-1 {
  min-height: 744px;
}

.u-section-19 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-19 .u-layout-cell-1 {
  min-height: 744px;
}

.u-section-19 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-19 .u-accordion-1 {
  width: 515px;
  margin: 0 auto 0 0;
}

.u-section-19 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-19 .u-accordion-link-1 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 2px;
  text-decoration: underline !important;
  padding: 10px 20px;
}

.u-section-19 .u-icon-1 {
  height: 13px;
  width: 13px;
}

.u-section-19 .u-accordion-pane-1 {
  min-height: 82px;
}

.u-section-19 .u-container-layout-2 {
  padding: 30px;
}

.u-section-19 .u-text-1 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-19 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-19 .u-accordion-link-2 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 2px;
  text-decoration: underline !important;
  padding: 10px 20px;
}

.u-section-19 .u-icon-2 {
  height: 13px;
  width: 13px;
}

.u-section-19 .u-accordion-pane-2 {
  min-height: 99px;
}

.u-section-19 .u-container-layout-3 {
  padding: 30px;
}

.u-section-19 .u-text-2 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-19 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-19 .u-accordion-link-3 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 2px;
  text-decoration: underline !important;
  padding: 10px 20px;
}

.u-section-19 .u-icon-3 {
  height: 13px;
  width: 13px;
}

.u-section-19 .u-accordion-pane-3 {
  min-height: 100px;
}

.u-section-19 .u-container-layout-4 {
  padding: 30px;
}

.u-section-19 .u-text-3 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-19 .u-image-1 {
  min-height: 744px;
  background-image: url("https://static.wixstatic.com/media/4991c8_7eb8c369777f4c2ca9931fcc0c113b4a~mv2.jpg");
  background-position: 50% 50%;
}

.u-section-19 .u-container-layout-5 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-19 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-19 .u-layout-cell-1 {
    min-height: 582px;
  }

  .u-section-19 .u-accordion-1 {
    width: 415px;
  }

  .u-section-19 .u-accordion-pane-1 {
    min-height: 96px;
    height: auto;
  }

  .u-section-19 .u-accordion-pane-2 {
    min-height: 96px;
    height: auto;
  }

  .u-section-19 .u-text-2 {
    width: auto;
  }

  .u-section-19 .u-accordion-pane-3 {
    min-height: 96px;
    height: auto;
  }

  .u-section-19 .u-text-3 {
    width: auto;
  }

  .u-section-19 .u-image-1 {
    min-height: 547px;
  }
}

@media (max-width: 991px) {
  .u-section-19 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-19 .u-layout-cell-1 {
    min-height: 550px;
  }

  .u-section-19 .u-accordion-1 {
    width: 350px;
  }

  .u-section-19 .u-image-1 {
    min-height: 550px;
  }
}

@media (max-width: 767px) {
   .u-section-19 {
    min-height: 66px;
  }

  .u-section-19 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-19 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-19 .u-accordion-1 {
    width: 540px;
    margin-left: auto;
  }

  .u-section-19 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-19 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-19 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-19 .u-image-1 {
    min-height: 699px;
  }
}

@media (max-width: 575px) {
   .u-section-19 {
    min-height: 101px;
  }

  .u-section-19 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-19 .u-layout-cell-1 {
    min-height: 233px;
    order: 0;
  }

  .u-section-19 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-19 .u-accordion-1 {
    width: 330px;
    margin-top: 41px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-19 .u-accordion-pane-1 {
    min-height: 88px;
  }

  .u-section-19 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-19 .u-text-1 {
    width: auto;
  }

  .u-section-19 .u-accordion-pane-2 {
    min-height: 88px;
  }

  .u-section-19 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-19 .u-accordion-pane-3 {
    min-height: 88px;
  }

  .u-section-19 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-19 .u-image-1 {
    min-height: 459px;
    order: 1;
  }
}

.u-section-19 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-19 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-19 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-19 .u-container-layout:hover .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-19 .u-accordion-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-20 .u-sheet-1 {
  min-height: 217px;
}

.u-section-20 .u-text-1 {
  margin: 60px 0;
}

@media (max-width: 1199px) {
  .u-section-20 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-20 .u-text-1 {
    width: auto;
    margin-top: 44px;
    margin-bottom: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-20 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-20 .u-text-1 {
    margin-top: 27px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-20 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-20 .u-text-1 {
    margin-top: 29px;
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-20 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-20 .u-text-1 {
    width: 340px;
    margin-bottom: 40px;
  }
}.u-section-21 .u-sheet-1 {
  min-height: 685px;
}

.u-section-21 .u-image-1 {
  height: 685px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-21 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-21 .u-image-1 {
    height: 538px;
  }
}

@media (max-width: 991px) {
  .u-section-21 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-21 .u-image-1 {
    height: 384px;
  }
}

@media (max-width: 767px) {
  .u-section-21 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-21 .u-image-1 {
    height: 322px;
  }
}

@media (max-width: 575px) {
  .u-section-21 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-21 .u-image-1 {
    height: 198px;
  }
}.u-section-22 .u-sheet-1 {
  min-height: 685px;
}

.u-section-22 .u-image-1 {
  height: 685px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-22 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-22 .u-image-1 {
    height: 538px;
  }
}

@media (max-width: 991px) {
  .u-section-22 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-22 .u-image-1 {
    height: 351px;
  }
}

@media (max-width: 767px) {
  .u-section-22 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-22 .u-image-1 {
    height: 322px;
  }
}

@media (max-width: 575px) {
  .u-section-22 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-22 .u-image-1 {
    height: 198px;
  }
}.u-section-23 .u-sheet-1 {
  min-height: 758px;
}

.u-section-23 .u-image-1 {
  height: 685px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-23 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-23 .u-image-1 {
    height: 504px;
    margin-bottom: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-23 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-23 .u-image-1 {
    height: 392px;
    margin-top: 36px;
    margin-bottom: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-23 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-23 .u-image-1 {
    height: 340px;
    margin-top: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-23 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-23 .u-image-1 {
    height: 203px;
    margin-bottom: 40px;
  }
}.u-section-24 .u-image-1 {
  min-height: 389px;
  background-image: url("https://static.wixstatic.com/media/4991c8_d0c3a19b2c2e43eebd5ab815728dc3ff~mv2.jpg");
  background-position: 50% 40.58%;
}

@media (max-width: 1199px) {
  .u-section-24 .u-image-1 {
    min-height: 298px;
  }
}

@media (max-width: 991px) {
  .u-section-24 .u-image-1 {
    min-height: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-24 .u-image-1 {
    min-height: 178px;
  }
}

@media (max-width: 575px) {
  .u-section-24 .u-image-1 {
    min-height: 109px;
  }
}.u-section-25 .u-sheet-1 {
  min-height: 785px;
}

.u-section-25 .u-video-1 {
  height: 650px;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-25 .u-video-1 {
    height: 508px;
  }
}

@media (max-width: 991px) {
  .u-section-25 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-25 .u-video-1 {
    height: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-25 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-25 .u-video-1 {
    height: 305px;
  }
}

@media (max-width: 575px) {
  .u-section-25 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-25 .u-video-1 {
    height: 186px;
  }
}video::-internal-media-controls-overlay-cast-button {
    display: none;
}