 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 355px;
}

.u-section-1 .u-image-1 {
  object-position: 50% 61.61%;
  height: 325px;
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  font-weight: 600;
  margin: -287px 49px 39px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-1 .u-image-1 {
    height: 354px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: -321px 22px 36px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-1 .u-image-1 {
    height: 402px;
    margin-top: 10px;
  }

  .u-section-1 .u-text-1 {
    margin: -374px 25px 31px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-1 .u-image-1 {
    height: 510px;
    margin-top: 21px;
  }

  .u-section-1 .u-text-1 {
    margin: -476px 22px 34px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1 .u-image-1 {
    height: 448px;
    margin-top: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.75rem;
    margin: -425px 19px 21px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 365px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 416px;
  margin: 69px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 42px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 51px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin: 33px 19px 17px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    margin: 32px 10px 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 627px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 537px;
  margin: 30px 829px 0 39px;
}

.u-section-3 .u-custom-html-2 {
  min-height: 537px;
  width: 283px;
  margin: -537px auto 0;
}

.u-section-3 .u-custom-html-3 {
  min-height: 537px;
  margin: -537px 39px 60px 828px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    height: auto;
    margin-right: 617px;
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-2 {
    height: auto;
  }

  .u-section-3 .u-custom-html-3 {
    height: auto;
    margin-right: 122px;
    margin-left: 621px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1182px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 283px;
    margin-top: 615px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-custom-html-2 {
    margin-top: -1113px;
    margin-right: 49px;
    margin-left: 372px;
  }

  .u-section-3 .u-custom-html-3 {
    margin-right: 495px;
    margin-left: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1789px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 1208px;
    margin-right: 127px;
    margin-left: 131px;
  }

  .u-section-3 .u-custom-html-2 {
    width: 277px;
    margin-top: -1688px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-custom-html-3 {
    margin-top: 33px;
    margin-right: 137px;
    margin-left: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-custom-html-1 {
    margin-top: 1175px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-custom-html-2 {
    width: 283px;
    margin-top: -1656px;
  }

  .u-section-3 .u-custom-html-3 {
    margin-top: 21px;
    margin-right: 29px;
    margin-left: 24px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 749px;
}

.u-section-4 .u-gallery-1 {
  height: 722px;
  margin-top: 0;
  margin-bottom: 27px;
  grid-gap: 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 29px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-4 .u-gallery-1 {
    height: 565px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-4 .u-gallery-1 {
    height: 989px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3079px;
  }

  .u-section-4 .u-gallery-1 {
    height: 3052px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1892px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1865px;
  }
} .u-section-5 {
  padding: 0;
}

.u-section-5 .u-sheet-1 {
  min-height: 454px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 62px 610px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 0.875rem;
  margin: 28px 610px 60px 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: 540px;
    font-weight: 600;
    margin-right: 360px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
    margin-right: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 160px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-5 .u-text-1 {
    width: 330px;
  }

  .u-section-5 .u-text-2 {
    width: 330px;
  }
} font-size:12pt;
  display: 25px;
  white-space: wrap;
  animation: floatText 18s infinite linear;
  padding-left: -100%; /*Initial offset, which places the text off-screen*/
  color:#ffffff;
var remotePlaybackDisabled = element.disableRemotePlayback; 