.u-section-1 .u-sheet-1 {
  min-height: 232px;
}

.u-section-1 .u-video-1 {
  height: 186px;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -141px 74px 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: -153px 44px 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-1 .u-text-1 {
    margin: -165px 22px 21px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-1 .u-video-1 {
    height: 272px;
  }

  .u-section-1 .u-text-1 {
    width: 422px;
    margin: -243px auto 28px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-1 .u-video-1 {
    height: 253px;
    margin-top: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin: -232px 27px 21px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 508px;
}

.u-section-2 .u-image-1 {
  width: 521px;
  height: 398px;
  margin: 55px 54px 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 0.75rem;
  margin: -309px 942px 0 99px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  animation-timing-function: ease-in-out;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px 849px 0 99px;
}

.u-section-2 .u-text-3 {
  font-size: 0.75rem;
  margin: 21px 743px 60px 99px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-2 .u-image-1 {
    width: 416px;
    height: 338px;
    margin-top: 37px;
    margin-right: 45px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -297px;
    margin-right: 718px;
    margin-left: 72px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: 659px;
    margin-left: 72px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-right: 564px;
    margin-left: 72px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-2 .u-image-1 {
    height: 345px;
    width: 448px;
    margin-top: 304px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    width: 112px;
    margin-top: -600px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 345px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: 438px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 53px;
  }

  .u-section-2 .u-text-3 {
    width: 431px;
    margin-top: 27px;
    margin-bottom: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-2 .u-image-1 {
    height: 254px;
    width: 330px;
    margin-top: 15px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -509px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 508px;
}

.u-section-3 .u-image-1 {
  width: 528px;
  height: 374px;
  box-shadow: 6px 7px 24px 0px rgba(0,0,0,1);
  margin: 67px auto 0 47px;
}

.u-section-3 .u-text-1 {
  font-size: 0.75rem;
  margin: -326px 303px 0 738px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  animation-timing-function: ease-in-out;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px 132px 0 738px;
}

.u-section-3 .u-text-3 {
  font-size: 0.75rem;
  margin: 21px 104px 60px 738px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-3 .u-image-1 {
    width: 403px;
    height: 286px;
    margin-top: 72px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -281px;
    margin-right: 249px;
    margin-left: 541px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: 89px;
    margin-left: 541px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-right: 64px;
    margin-left: 541px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-3 .u-image-1 {
    height: 222px;
    width: 313px;
    margin-top: 83px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -257px;
    margin-right: 172px;
    margin-left: 416px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 11px;
    margin-right: 0;
    margin-left: 416px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 25px;
    margin-right: 0;
    margin-left: 416px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-3 .u-image-1 {
    height: 302px;
    width: 427px;
    margin-top: 339px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: 112px;
    margin-top: -610px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 251px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: 431px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-3 .u-image-1 {
    height: 234px;
    width: 330px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -550px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 17px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-left: 10px;
    margin-right: 10px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1028px;
}

.u-section-4 .u-text-1 {
  font-size: 0.75rem;
  margin: 46px 1057px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  animation-timing-function: ease-in-out;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px 751px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 0.75rem;
  margin: 27px 0 0;
}

.u-section-4 .u-gallery-1 {
  height: 552px;
  margin-top: 58px;
  margin-bottom: 60px;
  grid-gap: 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 23px;
    margin-right: 797px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-right: 517px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-4 .u-gallery-1 {
    height: 455px;
    margin-bottom: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1312px;
  }

  .u-section-4 .u-text-1 {
    width: 112px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: 407px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 30px;
  }

  .u-section-4 .u-gallery-1 {
    height: 784px;
    margin-top: 63px;
    margin-bottom: 50px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 46px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 27px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-4 .u-gallery-1 {
    height: 552px;
    margin-top: 49px;
    margin-bottom: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1763px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 13px;
    width: 330px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    height: 1119px;
    margin-bottom: 40px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
    grid-gap: 20px;
  }
} .u-section-5 {
  min-height: 318px;
}

.u-section-5 .u-sheet-1 {
  min-height: 664px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 19px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 564px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  font-size: 0.75rem;
  margin: 0 288px 0 58px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  animation-timing-function: ease-in-out;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px 156px 0 58px;
}

.u-section-5 .u-text-3 {
  font-size: 0.75rem;
  width: 340px;
  margin: 23px auto 0;
}

.u-section-5 .u-image-1 {
  min-height: 564px;
  background-image: url("https://static.wixstatic.com/media/4991c8_a39554acc38d4e268478c689db34ab2c~mv2.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 66px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 23px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 445px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 221px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: 89px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 445px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 370px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    width: 149px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
    width: 281px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 22px;
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-5 .u-image-1 {
    min-height: 659px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-text-2 {
    width: 267px;
    margin-top: 18px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 530px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 15px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 19px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-5 .u-image-1 {
    min-height: 320px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1979px;
}

.u-section-6 .u-text-1 {
  font-size: 0.75rem;
  width: 163px;
  margin: 41px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  animation-timing-function: ease-in-out;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 498px;
  margin: 22px auto 0;
}

.u-section-6 .u-video-1 {
  height: 571px;
  margin-bottom: 0;
  margin-top: 41px;
}

.u-section-6 .u-text-3 {
  font-size: 0.75rem;
  width: 826px;
  margin: 47px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 1002px;
  grid-gap: 17px;
  margin: 56px 0 50px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 25px;
}

.u-section-6 .u-gallery-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-6 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-7 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-8 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-9 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-10 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-11 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-12 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1405px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 53px;
    margin-right: 811px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: 710px;
  }

  .u-section-6 .u-video-1 {
    margin-top: -607px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-gallery-1 {
    margin-top: 373px;
    margin-bottom: 0;
    height: 784px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1568px;
  }

  .u-section-6 .u-text-1 {
    width: 112px;
    margin-top: 50px;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    width: 320px;
    margin-top: 17px;
    margin-right: auto;
  }

  .u-section-6 .u-video-1 {
    height: 349px;
    margin-top: 58px;
  }

  .u-section-6 .u-text-3 {
    width: 535px;
  }

  .u-section-6 .u-gallery-1 {
    margin-top: 58px;
    margin-bottom: -152px;
    height: 700px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2986px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-6 .u-video-1 {
    height: 270px;
    margin-top: 44px;
  }

  .u-section-6 .u-text-3 {
    width: 431px;
    margin-top: 37px;
  }

  .u-section-6 .u-gallery-1 {
    margin-top: 38px;
    margin-bottom: 49px;
    height: 2234px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2148px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 22px;
  }

  .u-section-6 .u-video-1 {
    margin-top: -23px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: -4px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-gallery-1 {
    margin-top: 52px;
    margin-bottom: -2467px;
    height: 1467px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 741px;
}

.u-section-7 .u-image-1 {
  height: 641px;
  width: 575px;
  margin: 50px auto 0 0;
}

.u-section-7 .u-text-1 {
  font-size: 0.75rem;
  margin: -467px 309px 0 678px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  animation-timing-function: ease-in-out;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px 208px 0 678px;
}

.u-section-7 .u-text-3 {
  font-size: 0.75rem;
  margin: 30px 50px 60px 678px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-7 .u-image-1 {
    height: 502px;
    width: 450px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -397px;
    margin-right: 246px;
    margin-left: 519px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-right: 109px;
    margin-left: 519px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin: 14px 20px -1038px 519px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-7 .u-image-1 {
    height: 757px;
    margin-top: 391px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    width: 141px;
    margin-top: -1098px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    width: 320px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-3 {
    width: 496px;
    margin: 23px auto -355px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1211px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 404px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    margin-top: -1111px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 22px;
  }

  .u-section-7 .u-text-3 {
    width: 376px;
    margin-top: 22px;
    margin-bottom: -158px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-7 .u-image-1 {
    height: 434px;
    margin-top: 400px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    width: 163px;
    margin-top: -804px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
    width: 218px;
    margin-top: 16px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin: 25px 0 -124px;
  }
}video::-internal-media-controls-overlay-cast-button {
    display: none;
}