.u-section-1 .u-sheet-1 {
  min-height: 562px;
}

.u-section-1 .u-image-1 {
  height: 545px;
  margin-top: 19px;
  margin-bottom: 0;
  object-position: 50% 100%;
  filter: brightness(0.8);
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 600;
  margin: -437px 666px 0 54px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  line-height: 1;
  font-weight: 600;
  margin: -313px 99px 0 646px;
}

.u-section-1 .u-line-1 {
  transform-origin: right center;
  width: 419px;
  margin: 34px 92px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 300;
  margin: 34px 64px 0 611px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  align-self: flex-end;
  border-style: solid;
  margin: 27px 233px 60px auto;
  padding: 8px 21px 8px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1 .u-image-1 {
    height: 565px;
    margin-top: 10px;
    object-position: 0% 100%;
    filter: brightness(0.7);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -484px;
    margin-right: 497px;
    margin-left: 58px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -340px;
    margin-right: 70px;
    margin-left: 540px;
  }

  .u-section-1 .u-line-1 {
    transform-origin: left center;
    width: 166px;
    margin-top: 26px;
    margin-right: 132px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 26px;
    margin-right: 58px;
    margin-left: 527px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 147px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-1 .u-image-1 {
    height: 407px;
    margin-top: 4px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -313px;
    margin-right: 394px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -202px;
    margin-right: 61px;
    margin-left: 401px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 19px;
    margin-right: 97px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 18px;
    margin-right: 35px;
    margin-left: 375px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 112px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-1 .u-image-1 {
    height: 526px;
    margin-top: 5px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -486px;
    margin-right: 141px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 87px;
    margin-right: 270px;
    margin-left: 31px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 24px;
    margin-right: auto;
    margin-left: 31px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 22px;
    margin-right: 220px;
    margin-left: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin: 30px auto 59px 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-image-1 {
    height: 505px;
    object-position: 22.12% 100%;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -481px;
    margin-right: 93px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 80px;
    margin-right: 67px;
    margin-left: 24px;
  }

  .u-section-1 .u-line-1 {
    margin-left: 24px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 45px;
    margin-left: 24px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 32px;
    margin-left: 24px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 506px;
}

.u-section-2 .u-video-1 {
  height: 508px;
  filter: brightness(0.65);
  margin: 13px 0 0;
}

.u-section-2 .u-custom-html-1 {
  min-height: 58px;
  margin: -169px 824px 0 62px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  align-self: flex-end;
  border-style: solid;
  margin: 29px auto 0 62px;
  padding: 8px 21px 8px 20px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: -413px 62px 60px 902px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-2 .u-video-1 {
    height: 458px;
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
    margin-top: -162px;
    margin-right: 622px;
    margin-left: 38px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 26px;
    margin-left: 38px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -385px;
    margin-right: 38px;
    margin-left: 676px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-2 .u-video-1 {
    height: 388px;
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: -160px;
    margin-right: 426px;
    margin-left: 28px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 29px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -330px;
    margin-right: 29px;
    margin-left: 485px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 255px;
  }

  .u-section-2 .u-video-1 {
    height: 262px;
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: -135px;
    margin-right: 244px;
    margin-left: 22px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 15px;
    margin-left: 22px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -218px;
    margin-right: 23px;
    margin-left: 383px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-2 .u-video-1 {
    height: 302px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: -131px;
    margin-right: 41px;
    margin-left: 17px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 16px;
    margin-left: 17px;
    padding: 7px 14px 9px 13px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -262px;
    margin-right: 17px;
    margin-left: 179px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 615px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 29px;
  margin-bottom: 29px;
}

.u-section-3 .u-image-1 {
  min-height: 586px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("https://static.wixstatic.com/media/4991c8_7065ac4034f14cf1ad0ff3d5ccff7f10~mv2.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 46px 132px 0 46px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 58px;
  margin: 268px 46px 0 197px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  align-self: flex-end;
  border-style: solid;
  margin: 23px 46px 0 auto;
  padding: 8px 21px 8px 20px;
}

.u-section-3 .u-video-1 {
  min-height: 586px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 47px 246px 0 46px;
}

.u-section-3 .u-custom-html-2 {
  min-height: 58px;
  margin: 267px 42px 0 203px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  align-self: flex-end;
  border-style: solid;
  margin: 23px auto 0 337px;
  padding: 8px 21px 8px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-image-1 {
    min-height: 470px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 161px;
    margin-left: 28px;
  }

  .u-section-3 .u-custom-html-1 {
    height: auto;
    width: 232px;
    margin-top: 156px;
    margin-right: 35px;
    margin-left: 167px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 35px;
  }

  .u-section-3 .u-video-1 {
    background-position: 50% 50%;
    min-height: 470px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 37px;
    margin-right: 145px;
    margin-left: 25px;
  }

  .u-section-3 .u-custom-html-2 {
    height: auto;
    margin-top: 165px;
    margin-right: 35px;
    margin-left: 124px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 35px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-3 .u-image-1 {
    min-height: 316px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-right: 91px;
    margin-left: 20px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 84px;
    margin-right: 23px;
    margin-left: 79px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 12px;
    margin-right: 23px;
  }

  .u-section-3 .u-video-1 {
    min-height: 316px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-right: 104px;
    margin-left: 20px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-top: 75px;
    margin-right: 23px;
    margin-left: 92px;
  }

  .u-section-3 .u-btn-2 {
    font-size: 0.625rem;
    font-weight: 700;
    margin-top: 12px;
    margin-right: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-3 .u-image-1 {
    min-height: 364px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 24px;
    margin-right: 228px;
    margin-left: 21px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 111px;
    margin-right: 25px;
    margin-left: 281px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 23px;
    margin-right: 25px;
  }

  .u-section-3 .u-video-1 {
    min-height: 379px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 23px;
    margin-right: 291px;
    margin-left: 21px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-top: 133px;
    margin-right: 26px;
    margin-left: 247px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 23px;
    margin-right: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-3 .u-image-1 {
    order: 0;
    min-height: 285px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-right: 121px;
    margin-left: 17px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 49px;
    margin-right: 50px;
    margin-left: 46px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 16px;
  }

  .u-section-3 .u-video-1 {
    order: 1;
    min-height: 289px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 132px;
    margin-left: 18px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-top: 48px;
    margin-right: 16px;
    margin-left: 47px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 17px;
    margin-right: 16px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 385px;
}

.u-section-4 .u-image-1 {
  height: 415px;
  margin-top: -15px;
  margin-bottom: 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.75rem;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 600;
  text-transform: uppercase;
  margin: -84px 47px 0 auto;
  padding: 8px 21px 8px 20px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: -317px 912px 0 47px;
}

.u-section-4 .u-custom-html-1 {
  min-height: 58px;
  margin: 117px 47px 60px 851px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    align-self: flex-end;
    margin-top: -77px;
    margin-right: 35px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -339px;
    margin-right: 679px;
    margin-left: 30px;
  }

  .u-section-4 .u-custom-html-1 {
    height: auto;
    margin-top: 139px;
    margin-right: 35px;
    margin-left: 613px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-4 .u-image-1 {
    height: 284px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: -63px;
    margin-right: 26px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -233px;
    margin-right: 488px;
    margin-left: 21px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: 32px;
    margin-right: 26px;
    margin-left: 422px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 255px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -61px;
    margin-right: 25px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 329px;
    margin-left: 20px;
  }

  .u-section-4 .u-custom-html-1 {
    margin: 75px 25px 58px 263px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 257px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -54px;
    margin-right: 15px;
    padding-right: 12px;
    padding-left: 11px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -246px;
    margin-right: 122px;
    margin-left: 17px;
  }

  .u-section-4 .u-custom-html-1 {
    margin: 90px 15px 52px 63px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 697px;
}

.u-section-5 .u-video-1 {
  height: 559px;
  filter: brightness(0.65);
  width: 1150px;
  margin: 26px 0 0;
}

.u-section-5 .u-custom-html-1 {
  min-height: 58px;
  margin: -173px 823px 0 63px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  align-self: flex-end;
  border-style: solid;
  margin: 29px auto 0 64px;
  padding: 8px 21px 8px 20px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: -463px 63px 384px 741px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-5 .u-video-1 {
    height: 495px;
    margin-top: 29px;
    width: 900px;
  }

  .u-section-5 .u-custom-html-1 {
    height: auto;
    margin-top: -164px;
    margin-right: 672px;
    margin-left: 38px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 38px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin: -416px 38px 60px 521px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-5 .u-video-1 {
    height: 328px;
    width: 700px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-top: -157px;
    margin-right: 365px;
    margin-left: 30px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 0.625rem;
    margin-left: 30px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -271px;
    margin-right: 27px;
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-5 .u-video-1 {
    height: 311px;
    width: 540px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-top: -131px;
    margin-right: 208px;
    margin-left: 18px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 16px;
    margin-left: 18px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -266px;
    margin-right: 29px;
    margin-left: 404px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-5 .u-video-1 {
    height: 282px;
    margin-top: 30px;
    width: 330px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-right: 59px;
    margin-left: 16px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 16px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -240px;
    margin-right: 16px;
    margin-left: 68px;
  }
} font-size:12pt;
  display: 25px;
  white-space: wrap;
  animation: floatText 18s infinite linear;
  padding-left: -100%; /*Initial offset, which places the text off-screen*/
  color:#ffffff;
var remotePlaybackDisabled = element.disableRemotePlayback; 
