.u-section-1 .u-sheet-1 {
  min-height: 154px;
}

.u-section-1 .u-video-1 {
  height: 131px;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-1 {
  height: 745%;
  width: 100%;
  left: 0%;
  top: -323%;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -102px 58px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-1 .u-video-1 {
    height: 167px;
    margin-top: 10px;
  }

  .u-section-1 .embed-responsive-1 {
    height: 1221%;
    top: -561%;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin: -127px 46px 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-1 .u-video-1 {
    height: 162px;
  }

  .u-section-1 .embed-responsive-1 {
    height: 745%;
    top: -323%;
  }

  .u-section-1 .u-text-1 {
    margin: -135px 39px 28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-1 .u-video-1 {
    height: 176px;
  }

  .u-section-1 .embed-responsive-1 {
    height: 575%;
    top: -237%;
  }

  .u-section-1 .u-text-1 {
    margin: -153px 33px 23px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-1 .u-video-1 {
    height: 281px;
  }

  .u-section-1 .embed-responsive-1 {
    height: 178%;
    width: 178%;
    left: -39%;
    top: -39%;
  }

  .u-section-1 .u-text-1 {
    margin: -259px 24px 22px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 910px;
}

.u-section-2 .u-text-1 {
  font-size: 0.75rem;
  width: 108px;
  margin: 61px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  animation-timing-function: ease-in-out;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 408px;
  margin: 18px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.75rem;
  width: 589px;
  margin: 26px auto 0;
}

.u-section-2 .u-image-1 {
  height: 576px;
  object-position: 49.76% 63.93%;
  width: 952px;
  margin: 31px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-2 .u-image-1 {
    object-position: 50.9% 63.93%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: 545px;
    width: 900px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 56px;
    margin-right: 56px;
  }

  .u-section-2 .u-image-1 {
    height: 424px;
    width: 700px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 327px;
    width: 540px;
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    width: 330px;
  }

  .u-section-2 .u-image-1 {
    height: 200px;
    width: 330px;
    margin-bottom: -1373px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 733px;
}

.u-section-3 .u-shape-1 {
  height: 733px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  height: 573px;
  object-position: 49.76% 63.93%;
  width: 384px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin: -654px auto 0 160px;
}

.u-section-3 .u-image-2 {
  height: 573px;
  object-position: 49.76% 63.93%;
  width: 384px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin: -573px auto -240px 606px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    height: 474px;
    width: 316px;
    margin-top: -603px;
    margin-left: 88px;
  }

  .u-section-3 .u-image-2 {
    height: 474px;
    width: 316px;
    margin-top: -474px;
    margin-bottom: 60px;
    margin-left: 496px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-3 .u-shape-1 {
    height: 466px;
  }

  .u-section-3 .u-image-1 {
    height: 382px;
    width: 255px;
    margin-top: -424px;
    margin-left: 74px;
  }

  .u-section-3 .u-image-2 {
    height: 382px;
    width: 258px;
    margin-top: -382px;
    margin-bottom: -572px;
    margin-left: 368px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-3 .u-shape-1 {
    height: 412px;
  }

  .u-section-3 .u-image-1 {
    height: 329px;
    width: 219px;
    margin-top: -370px;
    margin-left: 34px;
  }

  .u-section-3 .u-image-2 {
    height: 329px;
    width: 219px;
    margin-top: -329px;
    margin-bottom: -863px;
    margin-left: 287px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 929px;
  }

  .u-section-3 .u-shape-1 {
    height: 929px;
  }

  .u-section-3 .u-image-1 {
    height: 412px;
    width: 275px;
    margin-top: -890px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    height: 412px;
    width: 275px;
    margin-top: 28px;
    margin-left: auto;
    margin-bottom: -680px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1331px;
}

.u-section-4 .u-text-1 {
  font-size: 0.75rem;
  width: 153px;
  margin: 58px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  animation-timing-function: ease-in-out;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 473px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 0.75rem;
  width: 519px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-4 {
  animation-timing-function: ease-in-out;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-size: 1.125rem;
  font-style: normal;
  width: 185px;
  margin: 58px auto 0;
}

.u-section-4 .u-custom-html-1 {
  min-height: 971px;
  margin-top: 22px;
  margin-bottom: 0;
  height: auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1142px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-4 .u-text-4 {
    width: 178px;
    margin-top: 50px;
  }

  .u-section-4 .u-custom-html-1 {
    min-height: 743px;
    margin-top: 33px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 15px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 33px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 57px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-bottom: 27px;
    margin-top: 50px;
    min-height: 567px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-bottom: 31px;
    margin-top: -10px;
    min-height: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-3 {
    width: 330px;
    margin-top: 22px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 32px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-bottom: 60px;
    margin-top: 15px;
    min-height: 392px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1069px;
}

.u-section-5 .u-text-1 {
  font-size: 0.75rem;
  width: 163px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  animation-timing-function: ease-in-out;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 378px;
  margin: 15px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 0.75rem;
  width: 516px;
  margin: 27px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 647px;
  grid-gap: 17px;
  margin: 61px 0 50px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  padding: 30px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  padding: 30px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  padding: 30px;
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-4 {
  padding: 30px;
}

.u-section-5 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-5 {
  padding: 30px;
}

.u-section-5 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-6 {
  padding: 30px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 81px;
    margin-right: 81px;
  }

  .u-section-5 .u-gallery-1 {
    height: 501px;
    margin-top: 59px;
    margin-bottom: 39px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-gap: 0px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-gallery-1 {
    height: 397px;
    margin-top: 53px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-carousel-control-2 {
    left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }

  .u-section-5 .u-gallery-1 {
    height: 303px;
    margin-top: 45px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    width: 199px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 59px;
    margin-bottom: 50px;
    height: 187px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1014px;
}

.u-section-6 .u-image-1 {
  height: 829px;
  width: 631px;
  margin: 75px auto 0 451px;
}

.u-section-6 .u-text-1 {
  font-size: 0.75rem;
  margin: -573px 900px 0 87px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  animation-timing-function: ease-in-out;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px 889px 0 87px;
}

.u-section-6 .u-text-3 {
  font-size: 0.75rem;
  margin: 27px 767px 60px 87px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-6 .u-image-1 {
    width: 469px;
    left: auto;
    right: 0;
    height: auto;
    margin: initial;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 219px;
    margin-right: 701px;
    margin-left: 67px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 651px;
    margin-left: 67px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: 548px;
    margin-left: 67px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1224px;
  }

  .u-section-6 .u-image-1 {
    width: 555px;
    height: 797px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 382px auto 0;
  }

  .u-section-6 .u-text-1 {
    width: 112px;
    margin-top: -1140px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    width: 225px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    width: 444px;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1193px;
  }

  .u-section-6 .u-image-1 {
    width: 497px;
    height: 774px;
    margin-top: 357px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -1093px;
  }

  .u-section-6 .u-text-3 {
    width: 431px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 903px;
  }

  .u-section-6 .u-image-1 {
    height: 473px;
    margin-top: 392px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    width: 125px;
    margin-top: -842px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
    width: 165px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 733px;
}

.u-section-7 .u-shape-1 {
  height: 733px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  height: 573px;
  object-position: 49.76% 63.93%;
  width: 384px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin: -654px auto 0 160px;
}

.u-section-7 .u-image-2 {
  height: 573px;
  object-position: 49.76% 63.93%;
  width: 384px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin: -573px auto 60px 606px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    height: 474px;
    width: 316px;
    margin-top: -603px;
    margin-left: 88px;
  }

  .u-section-7 .u-image-2 {
    height: 474px;
    width: 316px;
    margin-top: -474px;
    margin-left: 496px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-7 .u-shape-1 {
    height: 466px;
  }

  .u-section-7 .u-image-1 {
    height: 382px;
    width: 255px;
    margin-top: -424px;
    margin-left: 74px;
  }

  .u-section-7 .u-image-2 {
    height: 382px;
    width: 258px;
    margin-top: -382px;
    margin-bottom: -572px;
    margin-left: 368px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-7 .u-shape-1 {
    height: 412px;
  }

  .u-section-7 .u-image-1 {
    height: 329px;
    width: 219px;
    margin-top: -370px;
    margin-left: 34px;
  }

  .u-section-7 .u-image-2 {
    height: 329px;
    width: 219px;
    margin-top: -329px;
    margin-bottom: -863px;
    margin-left: 287px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 929px;
  }

  .u-section-7 .u-shape-1 {
    height: 929px;
  }

  .u-section-7 .u-image-1 {
    height: 412px;
    width: 275px;
    margin-top: -890px;
    margin-left: auto;
  }

  .u-section-7 .u-image-2 {
    height: 412px;
    width: 275px;
    margin-top: 28px;
    margin-left: auto;
    margin-bottom: -680px;
  }
}.u-section-8 .u-sheet-1 {
  margin-bottom: 0;
  min-height: 728px;
}

.u-section-8 .u-text-1 {
  font-size: 0.75rem;
  width: 108px;
  margin: 76px auto 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  animation-timing-function: ease-in-out;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 247px;
  margin: 17px auto 0;
}

.u-section-8 .u-text-3 {
  font-size: 0.75rem;
  width: 511px;
  margin: 25px auto 0;
}

.u-section-8 .u-gallery-1 {
  height: 342px;
  width: 1072px;
  margin: 64px auto 60px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-8 .u-text-2 {
    width: 246px;
  }

  .u-section-8 .u-text-3 {
    width: 525px;
  }

  .u-section-8 .u-gallery-1 {
    height: 275px;
    width: 866px;
    margin-top: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-8 .u-text-1 {
    width: 112px;
    margin-top: 55px;
  }

  .u-section-8 .u-text-2 {
    width: 345px;
  }

  .u-section-8 .u-text-3 {
    width: 438px;
    margin-top: 22px;
  }

  .u-section-8 .u-gallery-1 {
    height: 209px;
    width: 666px;
    margin-top: 69px;
  }

  .u-section-8 .u-over-slide-1 {
    padding: 20px;
  }

  .u-section-8 .u-over-slide-2 {
    padding: 20px;
  }

  .u-section-8 .u-over-slide-3 {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-8 .u-text-3 {
    width: 431px;
    margin-top: 34px;
  }

  .u-section-8 .u-gallery-1 {
    height: 167px;
    width: 523px;
    margin-top: 55px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-gap: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1263px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 62px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.5rem;
    width: 246px;
    margin-top: 12px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 24px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-8 .u-gallery-1 {
    height: 922px;
    width: 297px;
    margin-top: 42px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
    grid-gap: 17px;
  }
}video::-internal-media-controls-overlay-cast-button {
    display: none;
}
input[type="checkbox"] {
    content: url('https://static.wixstatic.com/media/4991c8_9202ec099c884ca0a3af350a869aae3e~mv2.jpg');
    display: block;
    width: 95%;
    height: fluid;
}
input[type="checkbox"]:checked {
	content: url('https://static.wixstatic.com/media/4991c8_acb8ae967fae452292fc46cbf7bf3c37~mv2.png');	
	
}
.native-hidden {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
}
