.u-section-1 .u-sheet-1 {
  min-height: 218px;
}

.u-section-1 .u-image-1 {
  height: 128px;
  object-position: 50% 66.65%;
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -88px 61px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-1 .u-image-1 {
    height: 126px;
    margin-top: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -85px;
    margin-left: 69px;
    margin-right: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-1 .u-image-1 {
    height: 118px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -88px;
    margin-left: 68px;
    margin-right: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 181px;
  }

  .u-section-1 .u-image-1 {
    height: 101px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -79px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 197px;
  }

  .u-section-1 .u-image-1 {
    height: 135px;
  }

  .u-section-1 .u-text-1 {
    margin: -115px 26px 57px;
  }
}.u-section-2 .u-video-1 {
  min-height: 442px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-video-1 {
    min-height: 391px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-video-1 {
    min-height: 323px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-video-1 {
    min-height: 217px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-video-1 {
    min-height: 195px;
  }
}.u-section-3 .u-video-1 {
  min-height: 440px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-video-1 {
    min-height: 389px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-video-1 {
    min-height: 301px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-video-1 {
    min-height: 202px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-video-1 {
    min-height: 181px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 388px;
}

.u-section-4 .u-gallery-1 {
  height: 386px;
  margin: 0 0 2px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  grid-gap: 0px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-1 {
  padding: 30px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-4 .u-gallery-1 {
    height: 302px;
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-4 .u-over-slide-2 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-4 .u-gallery-1 {
    margin-bottom: 0;
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-4 .u-gallery-1 {
    height: 195px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-4 .u-gallery-1 {
    height: 390px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}.u-section-5 .u-sheet-1 {
  min-height: 189px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
  font-style: italic;
  width: 594px;
  margin: 95px auto 0;
}

.u-section-5 .u-line-1 {
  transform-origin: left center;
  width: 276px;
  margin: 23px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 153px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 169px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 98px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-line-1 {
    margin-bottom: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 146px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 75px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-5 .u-line-1 {
    width: 192px;
  }
}.u-section-6 .u-image-1 {
  min-height: 454px;
  background-image: url("https://static.wixstatic.com/media/4991c8_5bfea3f29ae9476499b27abd26db77be~mv2.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    min-height: 311px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    min-height: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    min-height: 265px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    min-height: 241px;
  }
} .u-section-7 {
  min-height: 66px;
}

.u-section-7 .u-sheet-1 {
  min-height: 666px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 75px 0 41px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 550px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-accordion-1 {
  width: 524px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-accordion-link-1 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-7 .u-icon-1 {
  height: 13px;
  width: 13px;
}

.u-section-7 .u-accordion-pane-1 {
  min-height: 71px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-7 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-accordion-link-2 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-7 .u-icon-2 {
  height: 13px;
  width: 13px;
}

.u-section-7 .u-accordion-pane-2 {
  min-height: 138px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-7 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-accordion-link-3 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-7 .u-icon-3 {
  height: 13px;
  width: 13px;
}

.u-section-7 .u-accordion-pane-3 {
  min-height: 71px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 550px;
}

.u-section-7 .u-container-layout-5 {
  padding: 0;
}

.u-section-7 .u-video-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 481px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-7 .u-accordion-1 {
    width: 437px;
  }

  .u-section-7 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-7 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-7 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 487px;
  }

  .u-section-7 .u-video-1 {
    height: 379px;
    width: 391px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-7 .u-accordion-1 {
    width: 330px;
    margin-top: 41px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-7 .u-video-1 {
    height: 310px;
    width: 327px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 42px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 38px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-7 .u-accordion-1 {
    width: 540px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 627px;
  }

  .u-section-7 .u-video-1 {
    height: 388px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 125px;
  }

  .u-section-7 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

.u-section-7 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-7 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-7 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-7 .u-container-layout:hover .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-7 .u-accordion-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-8 .u-sheet-1 {
  min-height: 836px;
}

.u-section-8 .u-text-1 {
  font-style: italic;
  font-size: 0.875rem;
  width: 793px;
  font-weight: 400;
  margin: 40px auto 0;
}

.u-section-8 .u-gallery-1 {
  height: 616px;
  margin-top: 49px;
  margin-bottom: 60px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 30px;
}

.u-section-8 .u-gallery-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-over-slide-1 {
  padding: 30px;
}

.u-section-8 .u-gallery-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-over-slide-2 {
  padding: 30px;
}

.u-section-8 .u-gallery-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-over-slide-3 {
  padding: 30px;
}

.u-section-8 .u-gallery-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-over-slide-4 {
  padding: 30px;
}

.u-section-8 .u-gallery-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-over-slide-5 {
  padding: 30px;
}

.u-section-8 .u-gallery-item-6 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-over-slide-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-8 .u-text-1 {
    width: 619px;
    margin-top: 46px;
  }

  .u-section-8 .u-gallery-1 {
    margin-top: 68px;
    margin-bottom: 40px;
    height: 482px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-gap: 10px;
  }

  .u-section-8 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-8 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-8 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-8 .u-over-slide-4 {
    min-height: 100px;
  }

  .u-section-8 .u-over-slide-5 {
    min-height: 100px;
  }

  .u-section-8 .u-over-slide-6 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 43px;
  }

  .u-section-8 .u-gallery-1 {
    margin-bottom: 30px;
    height: 357px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-8 .u-text-1 {
    width: 540px;
    margin-top: 44px;
  }

  .u-section-8 .u-gallery-1 {
    margin-bottom: 44px;
    height: 491px;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-gallery-1 {
    margin-bottom: 27px;
    height: 519px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 193px;
}

.u-section-9 .u-text-1 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 700;
  font-style: italic;
  width: 590px;
  margin: 71px auto 0;
}

.u-section-9 .u-line-1 {
  transform-origin: left center;
  width: 234px;
  margin: 37px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 74px;
  }

  .u-section-9 .u-line-1 {
    margin-bottom: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 154px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 73px;
    margin-left: 55px;
    margin-right: 55px;
  }

  .u-section-9 .u-line-1 {
    margin-top: 23px;
    margin-bottom: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 126px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 49px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-line-1 {
    margin-bottom: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 83px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 0;
  }

  .u-section-9 .u-line-1 {
    width: 174px;
    margin-top: 26px;
    margin-bottom: 37px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 385px;
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 269px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 246px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 221px;
  }
} .u-section-11 {
  min-height: 66px;
}

.u-section-11 .u-sheet-1 {
  min-height: 530px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 530px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-11 .u-accordion-1 {
  width: 524px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-accordion-link-1 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-11 .u-icon-1 {
  height: 13px;
  width: 13px;
}

.u-section-11 .u-accordion-pane-1 {
  min-height: 107px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-text-1 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-11 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-accordion-link-2 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-11 .u-icon-2 {
  height: 13px;
  width: 13px;
}

.u-section-11 .u-accordion-pane-2 {
  min-height: 107px;
}

.u-section-11 .u-container-layout-3 {
  padding: 30px;
}

.u-section-11 .u-text-2 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-11 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-accordion-link-3 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-11 .u-icon-3 {
  height: 13px;
  width: 13px;
}

.u-section-11 .u-accordion-pane-3 {
  min-height: 107px;
}

.u-section-11 .u-container-layout-4 {
  padding: 30px;
}

.u-section-11 .u-text-3 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 530px;
}

.u-section-11 .u-container-layout-5 {
  padding: 0;
}

.u-section-11 .u-image-1 {
  margin-bottom: 0;
  margin-top: 0;
  height: 358px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: 44px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 552px;
  }

  .u-section-11 .u-accordion-1 {
    width: 421px;
  }

  .u-section-11 .u-accordion-pane-1 {
    min-height: 80px;
    height: auto;
  }

  .u-section-11 .u-text-1 {
    width: auto;
  }

  .u-section-11 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-11 .u-accordion-pane-3 {
    min-height: 69px;
    height: auto;
  }

  .u-section-11 .u-text-3 {
    width: auto;
  }

  .u-section-11 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 552px;
  }

  .u-section-11 .u-image-1 {
    height: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-11 .u-accordion-1 {
    width: 350px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 590px;
  }

  .u-section-11 .u-image-1 {
    height: 195px;
  }
}

@media (max-width: 767px) {
   .u-section-11 {
    min-height: 218px;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: 64px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 206px;
  }

  .u-section-11 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 15px;
  }

  .u-section-11 .u-image-1 {
    height: 347px;
  }
}

@media (max-width: 575px) {
   .u-section-11 {
    min-height: 106px;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: 36px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 132px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 56px;
  }

  .u-section-11 .u-image-1 {
    height: 212px;
  }
}

.u-section-11 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-11 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-11 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-11 .u-container-layout:hover .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-11 .u-accordion-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-12 .u-sheet-1 {
  min-height: 741px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-12 .u-image-1 {
  background-image: url("https://static.wixstatic.com/media/4991c8_74d2185b77694728869dd6c2c22ed66c~mv2.jpg");
  background-position: 50% 50%;
  min-height: 300px;
}

.u-section-12 .u-container-layout-1 {
  padding: 0;
}

.u-section-12 .u-image-2 {
  background-image: url("https://static.wixstatic.com/media/4991c8_3f7fd83c6c55416ba0045a4618a3b6a3~mv2.jpg");
  background-position: 50% 50%;
  min-height: 300px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px;
}

.u-section-12 .u-image-3 {
  min-height: 391px;
  background-image: url("https://static.wixstatic.com/media/4991c8_f82a6057c0ed4e799a5272d0a5439279~mv2.jpg");
  background-position: 50% 50%;
}

.u-section-12 .u-container-layout-3 {
  padding: 30px;
}

.u-section-12 .u-image-4 {
  background-image: url("https://static.wixstatic.com/media/4991c8_af9e3cf242c84ddb87699e47ae82c4c6~mv2.jpg");
  min-height: 391px;
  background-position: 50% 50%;
}

.u-section-12 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-12 .u-image-1 {
    min-height: 325px;
  }

  .u-section-12 .u-image-2 {
    min-height: 293px;
  }

  .u-section-12 .u-image-3 {
    min-height: 306px;
  }

  .u-section-12 .u-image-4 {
    min-height: 306px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-12 .u-image-1 {
    min-height: 169px;
  }

  .u-section-12 .u-image-2 {
    min-height: 169px;
  }

  .u-section-12 .u-image-3 {
    min-height: 253px;
  }

  .u-section-12 .u-image-4 {
    min-height: 238px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1303px;
  }

  .u-section-12 .u-image-1 {
    min-height: 280px;
  }

  .u-section-12 .u-image-2 {
    min-height: 504px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-image-3 {
    min-height: 551px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-image-4 {
    min-height: 551px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-12 .u-image-1 {
    min-height: 190px;
  }

  .u-section-12 .u-image-2 {
    min-height: 161px;
  }

  .u-section-12 .u-image-3 {
    min-height: 238px;
  }

  .u-section-12 .u-image-4 {
    min-height: 337px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 168px;
}

.u-section-13 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 627px;
  letter-spacing: 2px;
  font-style: italic;
  margin: 60px auto 0;
}

.u-section-13 .u-line-1 {
  transform-origin: left center;
  width: 276px;
  margin: 23px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-13 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 48px;
  }

  .u-section-13 .u-line-1 {
    margin-bottom: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-13 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 99px;
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-13 .u-line-1 {
    margin-bottom: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 137px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 58px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-line-1 {
    margin-bottom: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 83px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-13 .u-line-1 {
    width: 179px;
    margin-bottom: 30px;
  }
}.u-section-14 .u-video-1 {
  min-height: 419px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-video-1 {
    min-height: 394px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-video-1 {
    min-height: 269px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-video-1 {
    min-height: 272px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-video-1 {
    min-height: 186px;
  }
} .u-section-15 {
  min-height: 66px;
}

.u-section-15 .u-sheet-1 {
  min-height: 550px;
}

.u-section-15 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-15 .u-layout-cell-1 {
  min-height: 550px;
}

.u-section-15 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-15 .u-accordion-1 {
  width: 524px;
  margin: 0 auto 0 0;
}

.u-section-15 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-15 .u-accordion-link-1 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-15 .u-icon-1 {
  height: 13px;
  width: 13px;
}

.u-section-15 .u-accordion-pane-1 {
  min-height: 71px;
}

.u-section-15 .u-container-layout-2 {
  padding: 30px;
}

.u-section-15 .u-text-1 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-15 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-15 .u-accordion-link-2 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-15 .u-icon-2 {
  height: 13px;
  width: 13px;
}

.u-section-15 .u-accordion-pane-2 {
  min-height: 71px;
}

.u-section-15 .u-container-layout-3 {
  padding: 30px;
}

.u-section-15 .u-text-2 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-15 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-15 .u-accordion-link-3 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-15 .u-icon-3 {
  height: 13px;
  width: 13px;
}

.u-section-15 .u-accordion-pane-3 {
  min-height: 71px;
}

.u-section-15 .u-container-layout-4 {
  padding: 30px;
}

.u-section-15 .u-text-3 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-15 .u-layout-cell-2 {
  background-position: 50% 50%;
  min-height: 550px;
}

.u-section-15 .u-container-layout-5 {
  padding: 0;
}

.u-section-15 .u-image-1 {
  height: 129px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-15 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-15 .u-accordion-1 {
    width: 437px;
  }

  .u-section-15 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-15 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-15 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 516px;
  }

  .u-section-15 .u-image-1 {
    height: 94px;
    width: 441px;
    margin-top: 211px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-15 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 483px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-15 .u-accordion-1 {
    width: 330px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 483px;
  }

  .u-section-15 .u-image-1 {
    height: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-15 {
    min-height: 169px;
  }

  .u-section-15 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-15 .u-layout-wrap-1 {
    margin-top: 80px;
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 110px;
  }

  .u-section-15 .u-accordion-1 {
    width: 528px;
    margin-left: auto;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 60px;
  }

  .u-section-15 .u-image-1 {
    height: 116px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-15 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 37px;
  }

  .u-section-15 .u-image-1 {
    height: 71px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-15 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-15 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-15 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-15 .u-container-layout:hover .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-15 .u-accordion-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-16 .u-sheet-1 {
  min-height: 415px;
}

.u-section-16 .u-image-1 {
  height: 365px;
  margin-top: 0;
  margin-bottom: 50px;
  object-position: 50% 49.56%;
}

@media (max-width: 1199px) {
  .u-section-16 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-16 .u-image-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-sheet-1 {
    min-height: 244px;
  }

  .u-section-16 .u-image-1 {
    height: 223px;
    margin-top: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-sheet-1 {
    min-height: 197px;
  }

  .u-section-16 .u-image-1 {
    height: 196px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-16 .u-image-1 {
    height: 510px;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 151px;
}

.u-section-17 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
  font-style: italic;
  width: 695px;
  margin: 48px auto 0;
}

.u-section-17 .u-line-1 {
  transform-origin: left center;
  width: 334px;
  margin: 30px auto 48px;
}

@media (max-width: 1199px) {
  .u-section-17 .u-sheet-1 {
    min-height: 169px;
  }

  .u-section-17 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 86px;
  }

  .u-section-17 .u-line-1 {
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-17 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 113px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-17 .u-line-1 {
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-sheet-1 {
    min-height: 80px;
  }

  .u-section-17 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-17 .u-line-1 {
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-sheet-1 {
    min-height: 132px;
  }

  .u-section-17 .u-text-1 {
    margin-top: 62px;
  }

  .u-section-17 .u-line-1 {
    width: 217px;
    margin-bottom: 20px;
  }
}.u-section-18 .u-sheet-1 {
  min-height: 417px;
}

.u-section-18 .u-image-1 {
  object-position: 50% 51.89%;
  height: 371px;
  margin-top: 0;
  margin-bottom: 46px;
}

@media (max-width: 575px) {
  .u-section-18 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-18 .u-image-1 {
    height: 376px;
  }
} .u-section-19 {
  min-height: 66px;
}

.u-section-19 .u-sheet-1 {
  min-height: 538px;
}

.u-section-19 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-19 .u-layout-cell-1 {
  min-height: 538px;
}

.u-section-19 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-19 .u-accordion-1 {
  width: 524px;
  margin: 0 auto 0 0;
}

.u-section-19 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-19 .u-accordion-link-1 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-19 .u-icon-1 {
  height: 13px;
  width: 13px;
}

.u-section-19 .u-accordion-pane-1 {
  min-height: 71px;
}

.u-section-19 .u-container-layout-2 {
  padding: 30px;
}

.u-section-19 .u-text-1 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-19 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-19 .u-accordion-link-2 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-19 .u-icon-2 {
  height: 13px;
  width: 13px;
}

.u-section-19 .u-accordion-pane-2 {
  min-height: 71px;
}

.u-section-19 .u-container-layout-3 {
  padding: 30px;
}

.u-section-19 .u-text-2 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-19 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-19 .u-accordion-link-3 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-19 .u-icon-3 {
  height: 13px;
  width: 13px;
}

.u-section-19 .u-accordion-pane-3 {
  min-height: 71px;
}

.u-section-19 .u-container-layout-4 {
  padding: 30px;
}

.u-section-19 .u-text-3 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-19 .u-layout-cell-2 {
  min-height: 538px;
}

.u-section-19 .u-container-layout-5 {
  padding: 0;
}

.u-section-19 .u-video-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 435px;
}

@media (max-width: 1199px) {
  .u-section-19 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-19 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-19 .u-accordion-1 {
    width: 495px;
  }

  .u-section-19 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 463px;
  }

  .u-section-19 .u-video-1 {
    height: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-19 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-19 .u-layout-wrap-1 {
    margin-top: 29px;
  }

  .u-section-19 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-19 .u-accordion-1 {
    width: 385px;
    margin-top: 15px;
  }

  .u-section-19 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-19 .u-video-1 {
    height: 280px;
  }
}

@media (max-width: 767px) {
   .u-section-19 {
    min-height: 166px;
  }

  .u-section-19 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-19 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 35px;
  }

  .u-section-19 .u-layout-cell-1 {
    min-height: 281px;
    order: 1;
  }

  .u-section-19 .u-accordion-1 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-19 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-19 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-19 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-19 .u-layout-cell-2 {
    min-height: 297px;
    order: 0;
  }

  .u-section-19 .u-video-1 {
    height: 304px;
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-19 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-19 .u-layout-wrap-1 {
    margin-bottom: 51px;
  }

  .u-section-19 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-19 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-19 .u-video-1 {
    height: 194px;
  }
}

.u-section-19 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-19 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-19 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-19 .u-container-layout:hover .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-19 .u-accordion-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-20 .u-sheet-1 {
  min-height: 536px;
}

.u-section-20 .u-text-1 {
  font-style: italic;
  font-weight: 600;
  font-size: 0.875rem;
  width: 810px;
  margin: 62px auto 0;
}

.u-section-20 .u-image-1 {
  object-position: 50% 51.89%;
  height: 371px;
  margin-top: 36px;
  margin-bottom: 36px;
}

@media (max-width: 1199px) {
  .u-section-20 .u-text-1 {
    width: auto;
    margin-top: 57px;
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-20 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-20 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-20 .u-image-1 {
    height: 287px;
    margin-top: 1px;
    margin-bottom: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-20 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-20 .u-image-1 {
    height: 184px;
    margin-bottom: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-20 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-20 .u-text-1 {
    margin-top: 58px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-20 .u-image-1 {
    height: 123px;
    margin-bottom: 58px;
  }
}video::-internal-media-controls-overlay-cast-button {
    display: none;
}