.u-section-1 .u-sheet-1 {
  min-height: 203px;
}

.u-section-1 .u-video-1 {
  height: 179px;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-1 {
  height: 695%;
  width: 100%;
  left: 0%;
  top: -298%;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -149px 50px 31px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 174px;
  }

  .u-section-1 .u-video-1 {
    height: 164px;
    margin-top: 10px;
  }

  .u-section-1 .embed-responsive-1 {
    height: 894%;
    top: -397%;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin: -147px 31px 17px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-1 .u-video-1 {
    height: 228px;
  }

  .u-section-1 .embed-responsive-1 {
    height: 695%;
    top: -298%;
  }

  .u-section-1 .u-text-1 {
    margin: -200px 39px 52px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-1 .u-video-1 {
    height: 258px;
  }

  .u-section-1 .embed-responsive-1 {
    height: 536%;
    top: -218%;
  }

  .u-section-1 .u-text-1 {
    margin: -237px 25px 21px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-1 .u-video-1 {
    height: 316px;
  }

  .u-section-1 .embed-responsive-1 {
    height: 178%;
    width: 178%;
    left: -39%;
    top: -39%;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin: -302px 21px 17px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 590px;
}

.u-section-2 .u-image-1 {
  height: 495px;
  object-position: 49.76% 63.93%;
  width: 638px;
  margin: 42px 0 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 0.75rem;
  margin: -421px 993px 0 49px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  animation-timing-function: ease-in-out;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px 897px 0 49px;
}

.u-section-2 .u-text-3 {
  font-size: 0.75rem;
  margin: 32px 657px 60px 49px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-2 .u-image-1 {
    object-position: 50.9% 63.93%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: 404px;
    width: 485px;
    margin-top: 38px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -385px;
    margin-right: 753px;
    margin-left: 39px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-right: 642px;
    margin-left: 39px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin: 22px 516px 57px 39px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-2 .u-image-1 {
    width: 537px;
    margin-top: 396px;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    width: 108px;
    margin-top: -770px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 219px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: 452px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 411px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -769px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 44px;
    margin-right: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-2 .u-image-1 {
    height: 250px;
    margin-top: 43px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: -680px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -81px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 257px;
}

.u-section-3 .u-gallery-1 {
  height: 257px;
  margin-top: 0;
  margin-bottom: -1359px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
}

.u-section-3 .u-gallery-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-3 .u-gallery-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-3 .u-gallery-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-3 .u-gallery-1 {
    height: 193px;
    margin-top: 23px;
    margin-bottom: -1493px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-3 .u-gallery-1 {
    height: 151px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-over-slide-1 {
    padding: 20px;
  }

  .u-section-3 .u-over-slide-2 {
    padding: 20px;
  }

  .u-section-3 .u-over-slide-3 {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-gallery-1 {
    height: 1031px;
    margin-top: 31px;
    margin-bottom: 36px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-3 .u-gallery-1 {
    height: 630px;
    margin-bottom: 31px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 605px;
}

.u-section-4 .u-image-1 {
  height: 413px;
  width: 761px;
  margin: 132px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 0.75rem;
  margin: -413px 155px 0 832px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  animation-timing-function: ease-in-out;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px 144px 0 832px;
}

.u-section-4 .u-text-3 {
  font-size: 0.75rem;
  margin: 27px 0 60px 832px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -798px;
    margin-right: 374px;
    margin-left: 363px;
  }

  .u-section-4 .u-text-2 {
    width: 174px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    width: 555px;
    margin: 26px auto 129px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 862px;
  }

  .u-section-4 .u-image-1 {
    height: 380px;
    margin-top: 422px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: -775px;
    margin-right: 274px;
    margin-left: 263px;
  }

  .u-section-4 .u-text-3 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-4 .u-image-1 {
    height: 293px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: -677px;
    margin-right: 194px;
    margin-left: 183px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-4 .u-image-1 {
    height: 179px;
    margin-top: 474px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: -610px;
    margin-right: 89px;
    margin-left: 78px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-5 .u-image-1 {
  height: 922px;
  object-position: 49.76% 63.93%;
  width: 369px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 68px 0 0 auto;
}

.u-section-5 .u-text-1 {
  font-size: 0.75rem;
  margin: -898px 944px 0 98px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  animation-timing-function: ease-in-out;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px 660px 0 98px;
}

.u-section-5 .u-text-3 {
  font-size: 0.75rem;
  margin: 33px 608px 0 98px;
}

.u-section-5 .u-video-1 {
  height: 402px;
  width: 701px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 91px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-5 .u-image-1 {
    object-position: 50.9% 100%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: 739px;
    width: 317px;
    margin-top: 38px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -721px;
    margin-right: 739px;
    margin-left: 53px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-right: 529px;
    margin-left: 53px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-right: 428px;
    margin-left: 53px;
  }

  .u-section-5 .u-video-1 {
    height: 278px;
    width: 489px;
    margin-top: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1794px;
  }

  .u-section-5 .u-image-1 {
    height: 814px;
    width: 343px;
    margin-top: 873px;
    margin-right: auto;
  }

  .u-section-5 .u-text-1 {
    width: 108px;
    margin-top: -1647px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    width: 336px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-video-1 {
    height: 398px;
    margin-top: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2700px;
  }

  .u-section-5 .u-image-1 {
    height: 1288px;
    margin-top: 841px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: -2079px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-5 .u-video-1 {
    height: 309px;
    margin-top: 57px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1590px;
  }

  .u-section-5 .u-image-1 {
    height: 791px;
    margin-top: 751px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-top: -1538px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-5 .u-video-1 {
    height: 189px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}video::-internal-media-controls-overlay-cast-button {
    display: none;
}
input[type="checkbox"] {
    content: url('https://static.wixstatic.com/media/4991c8_9202ec099c884ca0a3af350a869aae3e~mv2.jpg');
    display: block;
    width: 100%;
    height: fluid;
}
input[type="checkbox"]:checked {
	content: url('https://static.wixstatic.com/media/4991c8_acb8ae967fae452292fc46cbf7bf3c37~mv2.png');	
	
}
.native-hidden {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
}