.u-section-1 .u-sheet-1 {
  min-height: 204px;
}

.u-section-1 .u-image-1 {
  height: 104px;
  object-position: 50% 66.65%;
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -76px 61px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 161px;
  }

  .u-section-1 .u-image-1 {
    height: 89px;
    margin-top: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-top: -66px;
    margin-left: 41px;
    margin-right: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 178px;
  }

  .u-section-1 .u-image-1 {
    height: 99px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -68px;
    margin-left: 33px;
    margin-right: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-1 .u-image-1 {
    height: 84px;
    margin-top: 21px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -70px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 208px;
  }

  .u-section-1 .u-image-1 {
    height: 137px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -115px;
  }
}.u-section-2 .u-video-1 {
  min-height: 600px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-video-1 {
    min-height: 462px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-video-1 {
    min-height: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-video-1 {
    min-height: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-video-1 {
    min-height: 184px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 589px;
}

.u-section-3 .u-gallery-1 {
  height: 533px;
  grid-template-columns: auto auto;
  margin: 56px 0 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 0px 0px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-1 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-1 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-3 .u-gallery-1 {
    height: 417px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-3 .u-gallery-1 {
    height: 324px;
    grid-template-columns: repeat(1, auto);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-3 .u-gallery-1 {
    height: 250px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-3 .u-gallery-1 {
    height: 153px;
    grid-template-columns: auto;
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 474px;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-1 {
  height: 414px;
  margin-bottom: 60px;
  margin-top: 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 0px 0px;
}

.u-section-4 .u-back-slide-1 {
  background-image: none;
}

.u-section-4 .u-over-slide-1 {
  padding: 20px;
}

.u-section-4 .u-back-slide-2 {
  background-image: none;
}

.u-section-4 .u-over-slide-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-4 .u-gallery-1 {
    height: 324px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 238px;
  }

  .u-section-4 .u-gallery-1 {
    height: 238px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-4 .u-gallery-1 {
    height: 734px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-4 .u-gallery-1 {
    height: 449px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 780px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 578px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 470px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 368px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 292px;
  }
} .u-section-6 {
  min-height: 257px;
}

.u-section-6 .u-sheet-1 {
  min-height: 440px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 40px;
}

.u-section-6 .u-image-1 {
  min-height: 400px;
  background-image: url("images/mv288.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  min-height: 400px;
  background-image: url("images/DSC09489-partrt.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-image-1 {
    min-height: 313px;
  }

  .u-section-6 .u-image-2 {
    min-height: 313px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 187px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-6 .u-image-1 {
    min-height: 243px;
  }

  .u-section-6 .u-image-2 {
    min-height: 243px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 694px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-6 .u-image-1 {
    min-height: 347px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 347px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 424px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-6 .u-image-1 {
    min-height: 212px;
  }

  .u-section-6 .u-image-2 {
    min-height: 212px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 770px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 578px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 466px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 362px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 222px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 700px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 578px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 410px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 366px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 238px;
  }
} .u-section-9 {
  min-height: 257px;
}

.u-section-9 .u-sheet-1 {
  min-height: 460px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-9 .u-image-1 {
  min-height: 400px;
  background-image: url("images/DSC02520.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-image-2 {
  min-height: 400px;
  background-image: url("images/FUTUREAUTOMATION-PERFECTINTEGRATION-NOTTINGHILLGATE-9.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-9 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-9 .u-image-1 {
    min-height: 313px;
  }

  .u-section-9 .u-image-2 {
    min-height: 313px;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 187px;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-9 .u-image-1 {
    min-height: 243px;
  }

  .u-section-9 .u-image-2 {
    min-height: 243px;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 694px;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-9 .u-image-1 {
    min-height: 347px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    min-height: 347px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 424px;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-9 .u-image-1 {
    min-height: 214px;
  }

  .u-section-9 .u-image-2 {
    min-height: 214px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 702px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 578px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 430px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 328px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 446px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 308px;
}

.u-section-11 .u-gallery-1 {
  height: 240px;
  margin: 0 0 60px;
}

.u-section-11 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-11 .u-back-slide-1 {
  background-position: 50% 50%;
}

.u-section-11 .u-back-image-1 {
  object-position: 70.23% 50%;
}

.u-section-11 .u-over-slide-1 {
  padding: 20px;
}

.u-section-11 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-11 .u-back-image-2 {
  object-position: 53.94% 50%;
}

.u-section-11 .u-over-slide-2 {
  padding: 20px;
}

.u-section-11 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-11 .u-back-image-3 {
  object-position: 53.94% 50%;
}

.u-section-11 .u-over-slide-3 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 196px;
  }

  .u-section-11 .u-gallery-1 {
    height: 196px;
    grid-template-columns: auto auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 161px;
  }

  .u-section-11 .u-gallery-1 {
    height: 161px;
    grid-template-columns: auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 117px;
  }

  .u-section-11 .u-gallery-1 {
    height: 117px;
    grid-template-columns: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-11 .u-gallery-1 {
    height: 631px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: auto;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 772px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 578px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 466px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 356px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 406px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 396px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 312px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 204px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 126px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 243px;
}

.u-section-14 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
  font-style: italic;
  width: 594px;
  margin: 125px auto 0;
}

.u-section-14 .u-line-1 {
  transform-origin: left center;
  width: 276px;
  margin: 23px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-14 .u-text-1 {
    font-size: 1.125rem;
    width: 542px;
    margin-top: 67px;
  }

  .u-section-14 .u-line-1 {
    transform-origin: left center 0px;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-14 .u-text-1 {
    font-size: 1rem;
    width: 460px;
  }

  .u-section-14 .u-line-1 {
    margin-bottom: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-14 .u-text-1 {
    margin-top: 71px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 146px;
  }

  .u-section-14 .u-text-1 {
    width: 330px;
    margin-top: 75px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-14 .u-line-1 {
    width: 192px;
  }
}.u-section-15 .u-video-1 {
  min-height: 567px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-video-1 {
    min-height: 447px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-video-1 {
    min-height: 349px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-video-1 {
    min-height: 273px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-video-1 {
    min-height: 162px;
  }
} .u-section-16 {
  min-height: 66px;
}

.u-section-16 .u-sheet-1 {
  min-height: 355px;
}

.u-section-16 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-16 .u-layout-cell-1 {
  min-height: 359px;
}

.u-section-16 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-16 .u-accordion-1 {
  width: 437px;
  margin: 0 auto;
}

.u-section-16 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-16 .u-accordion-link-1 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-16 .u-icon-1 {
  height: 13px;
  width: 13px;
}

.u-section-16 .u-accordion-pane-1 {
  min-height: 86px;
}

.u-section-16 .u-container-layout-2 {
  padding: 30px;
}

.u-section-16 .u-text-1 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-16 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-16 .u-accordion-link-2 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-16 .u-icon-2 {
  height: 13px;
  width: 13px;
}

.u-section-16 .u-accordion-pane-2 {
  min-height: 86px;
}

.u-section-16 .u-container-layout-3 {
  padding: 30px;
}

.u-section-16 .u-text-2 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-16 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-16 .u-accordion-link-3 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-16 .u-icon-3 {
  height: 13px;
  width: 13px;
}

.u-section-16 .u-accordion-pane-3 {
  min-height: 86px;
}

.u-section-16 .u-container-layout-4 {
  padding: 30px;
}

.u-section-16 .u-text-3 {
  font-size: 0.75rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-16 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-16 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-16 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-16 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-16 .u-accordion-pane-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-16 .u-container-layout-1 {
    padding-bottom: 11px;
  }

  .u-section-16 .u-accordion-1 {
    width: 330px;
    margin-top: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-16 .u-layout-wrap-1 {
    margin-top: 38px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-16 .u-accordion-1 {
    width: 540px;
    margin-top: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-16 .u-layout-wrap-1 {
    margin-bottom: 38px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-16 .u-layout-cell-1 {
    min-height: 125px;
  }

  .u-section-16 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-section-16 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-16 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-16 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-16 .u-container-layout:hover .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-16 .u-accordion-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-17 .u-sheet-1 {
  min-height: 189px;
}

.u-section-17 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
  font-style: italic;
  width: 594px;
  margin: 95px auto 0;
}

.u-section-17 .u-line-1 {
  transform-origin: left center;
  width: 276px;
  margin: 23px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-17 .u-sheet-1 {
    min-height: 138px;
  }

  .u-section-17 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-sheet-1 {
    min-height: 153px;
  }

  .u-section-17 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-17 .u-text-1 {
    margin-top: 63px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-17 .u-line-1 {
    margin-bottom: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-sheet-1 {
    min-height: 139px;
  }

  .u-section-17 .u-text-1 {
    margin-top: 39px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-17 .u-line-1 {
    width: 192px;
  }
}.u-section-18 .u-video-1 {
  min-height: 646px;
}

@media (max-width: 1199px) {
  .u-section-18 .u-video-1 {
    min-height: 491px;
  }
}

@media (max-width: 991px) {
  .u-section-18 .u-video-1 {
    min-height: 383px;
  }
}

@media (max-width: 767px) {
  .u-section-18 .u-video-1 {
    min-height: 303px;
  }
}

@media (max-width: 575px) {
  .u-section-18 .u-video-1 {
    min-height: 195px;
  }
} .u-section-19 {
  min-height: 66px;
}

.u-section-19 .u-sheet-1 {
  min-height: 355px;
}

.u-section-19 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-19 .u-layout-cell-1 {
  min-height: 359px;
}

.u-section-19 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-19 .u-accordion-1 {
  width: 437px;
  margin: 0 auto;
}

.u-section-19 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-19 .u-accordion-link-1 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-19 .u-icon-1 {
  height: 13px;
  width: 13px;
}

.u-section-19 .u-accordion-pane-1 {
  min-height: 86px;
  height: auto;
}

.u-section-19 .u-container-layout-2 {
  padding: 30px;
}

.u-section-19 .u-text-1 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-19 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-19 .u-accordion-link-2 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-19 .u-icon-2 {
  height: 13px;
  width: 13px;
}

.u-section-19 .u-accordion-pane-2 {
  min-height: 86px;
  height: auto;
}

.u-section-19 .u-container-layout-3 {
  padding: 30px;
}

.u-section-19 .u-text-2 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-19 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-19 .u-accordion-link-3 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-19 .u-icon-3 {
  height: 13px;
  width: 13px;
}

.u-section-19 .u-accordion-pane-3 {
  min-height: 86px;
  height: auto;
}

.u-section-19 .u-container-layout-4 {
  padding: 30px;
}

.u-section-19 .u-text-3 {
  font-size: 0.75rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-19 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-19 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-19 .u-layout-cell-1 {
    min-height: 487px;
  }
}

@media (max-width: 991px) {
   .u-section-19 {
    min-height: 42px;
  }

  .u-section-19 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-19 .u-layout-cell-1 {
    min-height: 261px;
  }

  .u-section-19 .u-accordion-1 {
    width: 330px;
    margin-top: 41px;
  }
}

@media (max-width: 767px) {
   .u-section-19 {
    min-height: 66px;
  }

  .u-section-19 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-19 .u-layout-wrap-1 {
    margin-top: 38px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-19 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-19 .u-accordion-1 {
    width: 540px;
    margin-top: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-19 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-19 .u-layout-cell-1 {
    min-height: 125px;
  }

  .u-section-19 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-section-19 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-19 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-19 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-19 .u-container-layout:hover .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-19 .u-accordion-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-20 .u-sheet-1 {
  min-height: 189px;
}

.u-section-20 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
  font-style: italic;
  width: 594px;
  margin: 95px auto 0;
}

.u-section-20 .u-line-1 {
  transform-origin: left center;
  width: 276px;
  margin: 23px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-20 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-20 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-20 .u-sheet-1 {
    min-height: 153px;
  }

  .u-section-20 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-left: 53px;
    margin-right: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-20 .u-sheet-1 {
    min-height: 157px;
  }

  .u-section-20 .u-text-1 {
    margin-top: 69px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-20 .u-line-1 {
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-20 .u-text-1 {
    margin-top: 50px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-20 .u-line-1 {
    width: 192px;
  }
}.u-section-21 .u-video-1 {
  min-height: 487px;
}

@media (max-width: 1199px) {
  .u-section-21 .u-video-1 {
    min-height: 391px;
  }
}

@media (max-width: 991px) {
  .u-section-21 .u-video-1 {
    min-height: 323px;
  }
}

@media (max-width: 767px) {
  .u-section-21 .u-video-1 {
    min-height: 227px;
  }
}

@media (max-width: 575px) {
  .u-section-21 .u-video-1 {
    min-height: 139px;
  }
} .u-section-22 {
  min-height: 66px;
}

.u-section-22 .u-sheet-1 {
  min-height: 355px;
}

.u-section-22 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-22 .u-layout-cell-1 {
  min-height: 359px;
}

.u-section-22 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-22 .u-accordion-1 {
  width: 437px;
  margin: 0 auto;
}

.u-section-22 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-22 .u-accordion-link-1 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-22 .u-icon-1 {
  height: 13px;
  width: 13px;
}

.u-section-22 .u-accordion-pane-1 {
  min-height: 86px;
}

.u-section-22 .u-container-layout-2 {
  padding: 30px;
}

.u-section-22 .u-text-1 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-22 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-22 .u-accordion-link-2 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-22 .u-icon-2 {
  height: 13px;
  width: 13px;
}

.u-section-22 .u-accordion-pane-2 {
  min-height: 86px;
}

.u-section-22 .u-container-layout-3 {
  padding: 30px;
}

.u-section-22 .u-text-2 {
  font-size: 0.75rem;
  margin: 0;
}

.u-section-22 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-22 .u-accordion-link-3 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  text-decoration: underline !important;
  letter-spacing: 2px;
  padding: 10px 20px;
}

.u-section-22 .u-icon-3 {
  height: 13px;
  width: 13px;
}

.u-section-22 .u-accordion-pane-3 {
  min-height: 86px;
}

.u-section-22 .u-container-layout-4 {
  padding: 30px;
}

.u-section-22 .u-text-3 {
  font-size: 0.75rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-22 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-22 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-22 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-22 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-22 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-22 .u-accordion-pane-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-22 {
    min-height: 42px;
  }

  .u-section-22 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-22 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-22 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-22 .u-accordion-1 {
    width: 330px;
  }
}

@media (max-width: 767px) {
  .u-section-22 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-22 .u-layout-cell-1 {
    min-height: 258px;
  }

  .u-section-22 .u-accordion-1 {
    width: 540px;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-22 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-22 .u-layout-cell-1 {
    min-height: 125px;
  }

  .u-section-22 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-section-22 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-22 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-22 .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-22 .u-container-layout:hover .u-accordion-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-22 .u-accordion-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}video::-internal-media-controls-overlay-cast-button {
    display: none;
}